$background: #efefef;
$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;


.table-latitude {
    margin:4%  auto;

    width: 90%;
    border-collapse: collapse;

   
   tale, td,th{
        border: 2px solid $lfs-yellow;
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            color: $lfs-blue;
        }
    }
    tbody {
        tr {
           
            td {
                padding: 10px;
                color: $lfs-grey;
            }
            th {
                padding-left: 10px;
                color: $lfs-grey;
            }
        }
    }

}